* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#top image{
    margin-left: 90px;
    border-radius: 10px;
}

body {
    background-image: url(https://cdn.wallpapersafari.com/71/95/5HMkes.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main-div {
    width: 70%;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 50px rgb(0, 0, 0, 0.2);
    min-height: 350px;
    padding: 80px 90px;
    border-radius: 12px;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#restart,#end{
margin-top: 20px;
/* background-color:#1da3dd;
color: rgb(242, 248, 248); */
border-radius: 10px;
padding: 0 4px 0;
border: none;
text-decoration: none;
cursor: pointer;
}

#restart{
    text-decoration: none;
    background-color:#1da3dd;
   /* color: white; */
    border-radius: 10px;
    padding: 0 7px 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
